.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.inpt-mail-pass-main-grid .MuiInput-underline::before {
  border: none !important;
  content: none;
}
.inpt-mail-pass-main-grid .MuiInput-underline::after {
  border: none !important;
  content: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.most_main_grid_ef .MuiOutlinedInput-input {
  padding-bottom: 50px !important;
  border-radius: 8px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
*::-webkit-scrollbar {
  display: none !important;
} */

.AF_main_div .MnZkq svg {
  font-size: 20px !important;
}
.AF_main_div .fiuEEX svg {
  font-size: 20px;
}

.AF_main_div .fCsvmY {
  width: 100% !important;
}
.lable_skylink_inpt_settings_div .MuiInput-input {
  color: #c5c5c5;
  font-size: 14px;
}
.most_main_grid_gallery .gallery_title_head_image_text:hover {
  background-color: #dafde7 !important;
  cursor: pointer;
}

.most_main_grid_gallery .gallery_title_head_Alltext:hover {
  background-color: #dafde7 !important;
  cursor: pointer;
}

.most_main_grid_gallery .inner_image_icons {
  display: none;
}
.most_main_grid_gallery .image_grid_gallery:hover .inner_image_icons {
  display: block;
}
.most_main_grid_auth .MuiTab-root {
  max-width: 100% !important;
}
@media only screen and (max-width: 1425px) {
  .lable_skylink_inpt_settings_div .save_btn_settings {
    margin-top: 20px;
    margin-left: 0px !important;
  }
  .lable_skylink_inpt_settings_div .skynetPortal_inpt {
    width: 100% !important;
  }
}
.drpZone_main_grid .MuiDropzoneArea-icon {
  color: #c5c5c5 !important;
}
.drpZone_main_grid .MuiDropzoneArea-root {
  min-height: unset !important;
  border-radius: 10px !important;
}

.drpZone_main_grid .MuiDropzoneArea-root:focus {
  outline: none !important;
}

.MuiSelect-select.MuiSelect-select {
  background-color: transparent !important;
}

.sliderContainer button {
  /* box-shadow: 0px 0px 5px 8px rgba(50, 50, 50, 0.14); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 50px !important;
}

.slick-prev {
  /* position: relative; */
  /* right: 10px; */
}
.PrivateTabIndicator-colorPrimary-22 {
  background-color: unset !important;
}
.slick-next:before,
.slick-prev:before {
  color: #1ed660;
  opacity: 1 !important;
  /* background-color: transparent; */
}

.logoAlignMent {
  display: flex;
  justify-content: flex-end;
  /* padding-right:20px; */
}

.menu-button-styling {
  display: none !important;
}

@media only screen and (max-width: 950px) {
  .menu-button-styling {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .navi-brnd {
    display: none !important;
    /* width: auto !important; */
  }
  .icon_download_nvbar {
    display: none !important;
  }
}
@media only screen and (max-width: 598px) {
  .gallery_title_head_Alltext {
    margin-top: 10px !important;
  }

  .gallery_title_head_image_text,
  .menu_icon_top {
    margin-top: 10px !important;
  }
  .most_main_grid_gallery_style {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .cenetr_prfl_grid {
    padding: 0px !important;
  }
  .main_crad_prfl_grid {
    padding: 0px !important;
  }
}
.most_main_grid_auth .MuiTabs-indicator {
  display: none;
}

@media only screen and (max-width: 500px) {
  .cenetr_prfl_grid {
    padding: 0px !important;
  }
  .main_crad_prfl_grid {
    padding: 12px 0px 12px 0px !important;
  }
  .cenetr_prfl_grid .tabsName {
    padding-right: unset !important;
  }
  .stngTopFollowingbtn {
    display: flex;
    justify-content: center !important;
    width: 100%;
  }
  .followingButton {
    width: 80% !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up{
    display: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.MuiSwitch-track {
  background-color: gray !important;
  opacity: 1 !important;
}

.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #1ed660 !important;
}

.jFXjlY svg {
  font-size: 20px !important;
}
@media only screen and (max-width: 599px) {
  .audioIConsOnSmall {
    display: block !important;
    margin-left: 0px !important;
  }
  .nowHudioIConsOnSmall {
    display: none;
  }
  .sliderPlusPlayIcons {
    display: flex;
    justify-content: space-between;
  }
  .wrapAudioIConsOnSmall {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .audioInnerDivIons1 {
    display: flex;
  }
  .setInnerRepIconMargin {
    padding-left: 30px;
  }
  .volUpIcons_audioComp_main_div {
    display: flex;
  }
  .crossIcon_audio_comp_div {
    padding-left: 30px !important;
  }
}

.MuiChip-root.active {
  background-color: #1ed660;
}